<div class="container">
	<h3>Leave a review for {{realtor.name}} at {{realtor.agency}}</h3>
	<form role="form" (submit)="submitReview()">
		<div class="form-group">
			<label>Your rating:</label>
			<div class="custom-control custom-radio">
				<input [(ngModel)]="review.rating" type="radio" id="starhalf" name="rating" class="custom-control-input" value="1" checked=""><label class="custom-control-label" for="starhalf">Half star</label>
			</div>
			<div class="custom-control custom-radio">
				<input [(ngModel)]="review.rating" type="radio" id="star1" name="rating" class="custom-control-input" value="2" checked=""><label class="custom-control-label" for="star1">1 star</label>
			</div>
			<div class="custom-control custom-radio">
				<input [(ngModel)]="review.rating" type="radio" id="star1half" name="rating" class="custom-control-input" value="3" checked=""><label class="custom-control-label" for="star1half">1.5 stars</label>
			</div>
			<div class="custom-control custom-radio">
				<input [(ngModel)]="review.rating" type="radio" id="star2" name="rating" class="custom-control-input" value="4" checked=""><label class="custom-control-label" for="star2">2 stars</label>
			</div>
			<div class="custom-control custom-radio">
				<input [(ngModel)]="review.rating" type="radio" id="star2half" name="rating" class="custom-control-input" value="5" checked=""><label class="custom-control-label" for="star2half">2.5 stars</label>
			</div>
			<div class="custom-control custom-radio">
				<input [(ngModel)]="review.rating" type="radio" id="star3" name="rating" class="custom-control-input" value="6" checked=""><label class="custom-control-label" for="star3">3 stars</label>
			</div>
			<div class="custom-control custom-radio">
				<input [(ngModel)]="review.rating" type="radio" id="star3half" name="rating" class="custom-control-input" value="7" checked=""><label class="custom-control-label" for="star3half">3.5 stars</label>
			</div>
			<div class="custom-control custom-radio">
				<input [(ngModel)]="review.rating" type="radio" id="star4" name="rating" class="custom-control-input" value="8" checked=""><label class="custom-control-label" for="star4">4 stars</label>
			</div>
			<div class="custom-control custom-radio">
				<input [(ngModel)]="review.rating" type="radio" id="star4half" name="rating" class="custom-control-input" value="9" checked=""><label class="custom-control-label" for="star4half">4.5 stars</label>
			</div>
			<div class="custom-control custom-radio">
				<input [(ngModel)]="review.rating" type="radio" id="star5" name="rating" class="custom-control-input" value="10" checked=""><label class="custom-control-label" for="star5">5 stars</label>
			</div>
		</div>
		<!-- <fieldset class="rating">
			<input type="radio" class="ratingInput" id="star5" name="review.rating" value="10" /><label class = "ratingLabel full" for="star5" title="Great - 5 stars"></label>
			<input type="radio" class="ratingInput" id="star4half" name="review.rating" value="9" /><label class="ratingLabel half" for="star4half" title="Pretty good - 4.5 stars"></label>
			<input type="radio" class="ratingInput" id="star4" name="review.rating" value="8" /><label class = "ratingLabel full" for="star4" title="Pretty good - 4 stars"></label>
			<input type="radio" class="ratingInput" id="star3half" name="review.rating" value="7" /><label class="ratingLabel half" for="star3half" title="Meh - 3.5 stars"></label>
			<input type="radio" class="ratingInput" id="star3" name="review.rating" value="6" /><label class = "ratingLabel full" for="star3" title="Meh - 3 stars"></label>
			<input type="radio" class="ratingInput" id="star2half" name="review.rating" value="5" /><label class="ratingLabel half" for="star2half" title="Kinda bad - 2.5 stars"></label>
			<input type="radio" class="ratingInput" id="star2" name="review.rating" value="4" /><label class = "ratingLabel full" for="star2" title="Bad - 2 stars"></label>
			<input type="radio" class="ratingInput" id="star1half" name="review.rating" value="3" /><label class="ratingLabel half" for="star1half" title="Really bad - 1.5 stars"></label>
			<input type="radio" class="ratingInput" id="star1" name="review.rating" value="2" /><label class = "ratingLabel full" for="star1" title="Terrible - 1 star"></label>
			<input type="radio" class="ratingInput" id="starhalf" name="review.rating" value="1" /><label class="ratingLabel half" for="starhalf" title="Terrible - 0.5 stars"></label>
		</fieldset> -->
		<div class="form-group">
			<label for="textBody">Your thoughts:</label>
			<textarea [(ngModel)]="review.textBody" id="textBody" name="textBody" class="form-control" rows="3"></textarea>
		</div>
		<input type="submit" class="btn btn-primary" value="Submit">
	</form>
</div>