<div class="container">
    <h2>{{listing.title}}</h2>
    <div class="row">
        <div class="col-md-8">
            <div id="listingImages" class="carousel slide" data-interval="false">
                <ol class="carousel-indicators">
                    <li *ngFor="let photo of listingPhotos; let i = index" data-target="#listingImages" [attr.data-slide-to]="i" [class.active]="i===0"></li>
                </ol>
                <div class="carousel-inner">
                    <div *ngFor="let photo of listingPhotos; let i = index" class="carousel-item" [class.active]="i===0">
                        <img class="d-block w-100" [src]="sanitizer.bypassSecurityTrustUrl(photo)" alt="Photo">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#listingImages" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#listingImages" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <!-- <div *ngFor="let photo of listingPhotos; let i = index">
                <img [src]="sanitizer.bypassSecurityTrustUrl(photo)" alt="Photo">
            </div> -->
            <!-- <img src="https://via.placeholder.com/1000x1000?text=Placeholder" class="img-fluid"> -->
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">About this property</h5>
                    <p>{{listing.description}}</p>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Property Details</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Price: ${{listing.listingPrice}}</li>
                        <li class="list-group-item">Property size: {{listing.propertySize}} sq. ft.</li>
                        <li class="list-group-item">House size: {{listing.houseSize}} sq. ft.</li>
                        <li class="list-group-item">Bedrooms: {{listing.numBed}}</li>
                        <li class="list-group-item">Bathrooms: {{listing.numBath}}</li>
                        <li class="list-group-item">Basement: {{listing.basement === true ? "Yes" : "No"}}</li>
                        <li class="list-group-item">Number of floors: {{listing.numFloors}}</li>
                    </ul>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Location</h5>
                    {{listing.street}}<br>
                    {{listing.city}}, {{listing.state}}<br>
                    {{listing.zipCode}}<br>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Realtor</h5>
                    <p>{{listing.realtorName}}, {{listing.realtorAgency}}</p>
                    <a [routerLink]="['/realtor', listing.realtorId]">View this realtor</a>.
                </div>
            </div>

            <div *ngIf="auth.isBuyer">
                <p><a [routerLink]="['/listing', listing.id, 'request']" class="btn btn-warning">Request more information</a></p>
                <p><a [routerLink]="['/listing', listing.id, 'offer']" class="btn btn-warning">Make an offer</a></p>
                <p *ngIf="!listing.userFavorite"><button (click)="openFavoriteModal()" class="btn btn-warning">Add to your favorites</button></p>
                <p *ngIf="listing.userFavorite">This is one of your favorites</p>
            </div>
        </div>
    </div>
</div>

<button #openModalButton id="openModalButton" type="button" class="d-none" data-toggle="modal" data-target="#addFavoriteModal"></button>
<div class="modal" id="addFavoriteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add to favorites</h5>
        <button #closeModalButton id="closeModalButton" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5 class="card-title">Adding {{listing.title}} as a favorite</h5>
        <form>
            <div class="form-group">
                <label for="textBody">Leave a note to yourself about this property (optional)</label>
                <textarea [(ngModel)]="favoriteNote" name="favoriteNote" id="favoriteNote" rows="10" class="form-control"></textarea>
            </div>
            <button class="btn btn-primary" (click)="addFavorite()">Add to favorites</button>
        </form>
      </div>
    </div>
  </div>
</div>